/*.bp-header {
  background-color: #453c3c;
  padding: 10px 0px;
  margin: auto;
  display: flex;
  width: 100%;
}

.bp-navbar {
  text-align: center;
}
.bp-authenthification {
  padding-left: 45%;
}
*/

.spacer {
  flex: 1;
}
